.additional-card__title {
  color: $special-dark-grey-2;
  font-style: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-card__list {
  color: $special-dark-grey;
  font-family: "Arial";
  line-height: 1;
}
