.additional-product {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 86px;
  }
}

.additional-product__wrapper {
  @media (min-width: $desctop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.additional-product__heading {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  margin-bottom: 36px;
  span {
    position: relative;
    z-index: 1;
    padding: 0 22px;
    width: max-content;
    margin-left: -22px;
    background-color: $basic-white;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 2px;
    margin-top: 12px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-bottom: 80px;

    span {
      padding: 0 36px;
      margin-left: -36px;
    }

    &::before {
      margin-top: 18px;
    }
  }
}

.additional-product__list {
  @include list;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
    border: 1px solid $special-grey;
  }

  @media (min-width: $desctop-width) {
    grid-column: 1 / -2;
    margin-bottom: 0;
    border: 0;
  }
}

.additional-product__promo {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 0;
  }
}
