.button {
  display: inline-block;
  border: 0;
  font-family: inherit;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &--fixed {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }

  &--show {
    background-color: $basic-grey;
    color: $special-dark-grey;

    &:hover {
      color: rgba($special-dark-grey, 0.6);
    }

    &:active {
      color: rgba($special-dark-grey, 0.3);
    }
  }

  &:hover {
    color: rgba($basic-white, 0.6);
  }

  &:focus {
    outline: 1px solid $basic-black;
    outline-offset: -2px;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
