.button {
  display: inline-block;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;
  text-transform: uppercase;
  cursor: pointer;
}
