.catalog-section__item {
  background-color: $basic-grey;
}

.catalog-section__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog-section__text {
  font-family: "Arial";
  color: $special-dark-grey;
}

.catalog-section__link {
  @include link;
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
