.catalog-section {
  min-width: 320px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desctop-width) {
    min-width: 1440px;
    padding: 0 110px;
    display: flex;
    gap: 80px;
  }

}

.catalog-section__item {
  background-color: $basic-grey;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desctop-width) {
    width: 570px;
  }
}

.catalog-section__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog-section__text {
  font-family: "Arial";
  color: $special-dark-grey;
}

.catalog-section__link {
  @include link;
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
