.contacts {
  background-color: $basic-grey;
}

.contacts__heading {
  color: $special-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial";
  color: $special-dark-grey;
  line-height: 20px;
}
