.example {
  background-color: $example-bg;
}

.example__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desctop-width) {
    width: 1440px;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 194px;
  }
}

.example__heading {
  color: $basic-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__text {
  font-family: "Arial";
  color: $special-dark-grey;
}

.example__item {
  text-align: center;
}

.example__title {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
}

.example__description {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__expenses {
  line-height: 20px;
  text-transform: uppercase;
}
