.field {
  position: relative;
  color: $special-dark-grey;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 12px;
  align-items: center;

  &--icon .field__input {
    padding-right: 45px;
  }

  &--comment .field__input {
    grid-column: 1 / -1;
  }
}

.field__input {
  min-width: 100px;
  padding: 13px 15px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $special-dark-grey;
  border: 1px solid $special-grey-5;
  cursor: pointer;

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    outline: 2px solid $special-dark-grey;
    outline-offset: -2px;
  }

  &:not(:placeholder-shown):invalid {
    border: 2px solid $status-error;
  }

  &:not(:placeholder-shown):invalid + &--icon {
    color: $status-error;
  }

  &--icon:focus + .field__icon {
    color: $basic-green;
    stroke: $basic-green;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }

  &--error {
    border: 1px solid $status-error;
  }
}

.field__input::placeholder {
  color: $special-dark-grey;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.field__icon {
  position: absolute;
  right: 10px;
}
