.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
  }

  @media (min-width: $desctop-width) {
    column-gap: 81px;
  }
}

.form__fieldset {
  grid-column: 1 / -1;
}

.form__legend {
  font-family: "Arial";
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}
