.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 147px;
    height: 51px;
  }

  @media (min-width: $desctop-width) {
    width: 202px;
    height: 60px;
  }
}

.logo__sign {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
