.main-nav__list {
  @include list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-width: 440px;
  }

  @media (min-width: $desctop-width) {
    min-width: 478px;
  }
}

.main-nav__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav__link {
  @include link;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
