.offer {
  background-color: $special-green;
  background-image: url("../img/icon/offer-icon.svg"),
    url("../img/offer-img.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 80px 80px, cover;
  background-position: center 59px, 50% 50%;

  color: $basic-white;
  padding: 167px 0 43px;

  @media (min-width: $tablet-width) {
    padding: 70px 124px 70px 422px;
    background-position: 77px center, 50% 60%;
  }

  @media (min-width: $desctop-width) {
    padding: 184px 0 42px;
    background-position: center 55px, 50% 50%;
  }
}

.offer__text {
  max-width: 160px;
  margin: auto;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desctop-width) {
    text-align: center;
  }
}
