.page {
  min-height: 100%;
  background-color: $basic-white;
  color: $basic-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
}
