.page-header {
  display: flex;
  justify-content: space-between;
}
.page-header__logo {
  display: flex;
  justify-content: space-between;

  // @media (min-width: $tablet-width) {
  //   width: 174px;
  // }

  // @media (min-width: $desctop-width) {
  //   width: 202px;
  // }
}
