.process__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 72px;
  }
}

.process__list {
  @include list;
  color: $special-dark-grey;
  font-family: "Arial";
  width: auto;
  display: grid;
  gap: 26px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 60px;
    margin-bottom: 47px;
  }

  @media (min-width: $desctop-width){
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-bottom: 26px;
  }
}

.process__item {
  position: relative;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    min-width: 280px;
    padding-top: 40px;
    padding-right: 72px;
    min-height: 280px;
    counter-increment: process;

    &::after {
      content: counter(process);
      position: absolute;
      left: 118px;
      top: 0;
      bottom: 0;
      z-index: -1;
      font-size: 280px;
      line-height: 1;
      color: $basic-grey;
    }
  }

  @media (min-width: $desctop-width) {
    min-width: 250px;
  }

  &::before {
    content: '';
    width: 60px;
    height: 60px;
    margin-top: -2px;
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url('../img/leaf.svg');
  }

  &--tub::before {
    background-image: url('../img/tub.svg');
  }

  &--eat::before {
    background-image: url('../img/eat.svg');
  }

  &--alarm::before {
    background-image: url('../img/alarm.svg');
  }
}
