.process__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;
}

.process__list {
  @include list;
  color: $special-dark-grey;
  font-family: "Arial";
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 137px;
  }

  @media (min-width: $desctop-width){
    width: 1220px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 95px;
  }
}

.process__item {
  width: auto;

  @media (min-width: $tablet-width) {
    max-width: 250px;
  }
}
