.product-card {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    background-color: $basic-grey;
  }

  @media (min-width: $desctop-width) {
    min-width: 245px;
  }
}

.product-card__link {
  @include link;
}

.product-card__heading {
  color: $special-dark-grey-2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__list {
  margin: 0;
  color: $special-dark-grey;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}
