.promo {
  @media (max-width: $mobile-only) {
    color: $basic-white;
    margin-bottom: 20px;
    background-color: $special-green;
    background-image: url("../img/promo-small.png"),
      linear-gradient($basic-green 0, $basic-green 302px, $basic-white 302px);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  @media (min-width: $tablet-width) {
    color: $basic-black;
    background-color: transparent;
  }

  @media (min-width: $desctop-width) {
    position: relative;
    margin-bottom: 82px;

    &::before {
      position: absolute;
      z-index: -2;
      content: "";
      top: -200px;
      right: 0;
      left: 50%;
      bottom: 0;
      background-color: $special-green;
      background-image: url("../img/promo-large.jpg");
      background-repeat: no-repeat;
      background-position: 0% 0%;
      background-size: cover;
    }
  }
}

.promo__wrapper {
  position: relative;
  text-align: center;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-top: 62px;
    padding-left: 87px;
    padding-bottom: 526px;
  }

  @media (min-width: $desctop-width) {
    padding-left: 80px;
    padding-right: 610px;
    padding-top: 82px;
    padding-bottom: 185px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 41px;
  }
}

.promo__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 49px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  margin: auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 708px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: $desctop-width) {
    top: 30px;
    left: 558px;
    bottom: 0;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    width: 244px;
  }
}
