.showe-more {
  width: 280px;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 25px;
  background-image: url("../img/plus-small.svg");
  background-repeat: no-repeat;
  background-position: center 25px;

  @media (min-width: $tablet-width) {
    padding: 38px;
    padding-top: 190px;
    background-image: url("../img/plus-large.svg");
    background-position: center 100px;
  }
}

.showe-more__link {
  @include link;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.showe-more__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.showe-more__text {
  color: $special-dark-grey;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}

.showe-more__button {
  @include link;
  padding: 20px 40px;
  text-transform: uppercase;
}
