.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  padding: 0 35px;
  gap: 23px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 69px 1fr 69px;
    padding: 0 58px;
  }

  @media (min-width: $desctop-width) {
    padding: 0;
  }
}

.switcher__bar {
  @media (max-width: $mobile-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    appearance: none;
    background-color: transparent;
  }
}

.switcher__toggler {
  display: flex;
  width: 100%;
  min-height: 14px;
  border: 1px solid $special-grey;
  background-color: $basic-white;
  border-radius: 6px;
  padding: 4px 6px;

  &::after {
    content: '';
    width: 36px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 6px;
  }

  .switcher--before &  {
    justify-content: flex-start;
  }

  .switcher--after & {
    justify-content: flex-end;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher__button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 2px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 0;
    padding-bottom: 4px;
    justify-self: center;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.24);
  }
}
