@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswaldmedium.woff2") format(woff2), url("../../fonts/oswaldregular.woff") format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswaldmedium.woff2") format(woff2), url("../../fonts/oswaldmedium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1220px) {
  .container {
    max-width: 1330px;
    padding: 0 55px;
  }
}

.page {
  min-width: 320px;
  height: 100%;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

@media (max-width: 767px) {
  .page-header__bar {
    min-width: 320px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 33px 1fr 40px;
  }
}

@media (max-width: 767px) {
  .page-header__nav--closed .page-header__menu {
    display: none;
  }
  .page-header__nav--opened .page-header__menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: block;
    min-height: 200px;
    background-color: #FFFFFF;
  }
}
.page-header__nav--opened .page-header__toggler {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../img/close.svg");
}
@media (min-width: 768px) {
  .page-header__nav {
    min-width: 708px;
    padding: 24px 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1220px) {
  .page-header__nav {
    max-width: 1330px;
    padding: 53px 55px 0;
  }
}

.page-header__logo {
  grid-column: 1/3;
  width: 191px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-header__logo {
    display: flex;
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1220px) {
  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}

.page-header__toggler {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../img/burger.svg");
  border: 0;
  cursor: pointer;
}
.page-header__toggler:hover {
  opacity: 0.6;
}
.page-header__toggler:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1220px) {
  .main-nav--index {
    color: #FFFFFF;
  }
  .main-nav--index .main-nav__item--current::before {
    background-color: #FFFFFF;
  }
}

.main-nav__item {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #E6E6E6;
  min-height: 66px;
}
@media (min-width: 768px) {
  .main-nav__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    min-height: auto;
  }
  .main-nav__item--current {
    position: relative;
  }
  .main-nav__item--current::before {
    position: absolute;
    content: "";
    right: 12px;
    left: 12px;
    bottom: 0;
    height: 2px;
    background-color: #68B738;
  }
}
@media (min-width: 1220px) {
  .main-nav__item {
    font-size: 20px;
    line-height: normal;
  }
}

.main-nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 22px 0 24px;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 12px;
  }
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:active {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .promo {
    color: #FFFFFF;
    margin-bottom: 20px;
    background-color: rgba(104, 183, 56, 0.85);
    background-image: url("../../img/promo-small.png"), linear-gradient(#68B738 0, #68B738 302px, #FFFFFF 302px);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    background-color: transparent;
  }
}
@media (min-width: 1220px) {
  .promo {
    position: relative;
    margin-bottom: 82px;
  }
  .promo::before {
    position: absolute;
    z-index: -2;
    content: "";
    top: -200px;
    right: 0;
    left: 50%;
    bottom: 0;
    background-color: rgba(104, 183, 56, 0.85);
    background-image: url("../../img/promo-large.jpg");
    background-repeat: no-repeat;
    background-position: 20% 8%;
    background-size: cover;
  }
}

.promo__wrapper {
  position: relative;
  text-align: center;
  padding-top: 35px;
}
@media (min-width: 768px) {
  .promo__wrapper {
    text-align: left;
    padding-top: 62px;
    padding-left: 117px;
    padding-bottom: 526px;
  }
}
@media (min-width: 1220px) {
  .promo__wrapper {
    padding-left: 190px;
    padding-right: 610px;
    padding-top: 82px;
    padding-bottom: 185px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 41px;
  }
}

.promo__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .promo__slogan {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 49px;
  }
}
@media (min-width: 1220px) {
  .promo__slogan {
    margin-bottom: 52px;
  }
}

.promo__image {
  margin: auto;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 708px;
    height: 609px;
    z-index: -1;
  }
}
@media (min-width: 1220px) {
  .promo__image {
    top: 30px;
    left: 548px;
    bottom: 0;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .promo__button {
    padding: 14px 26px;
    width: 244px;
  }
}

.button {
  display: inline-block;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: #68B738;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-section {
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .catalog-section {
    gap: 30px;
  }
}
@media (min-width: 1220px) {
  .catalog-section {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-section__item {
  position: relative;
  background-color: #F2F2F2;
  width: 100%;
  padding: 30px 33px 18px 20px;
}
@media (min-width: 768px) {
  .catalog-section__item {
    width: 100%;
    padding: 77px 316px 57px 52px;
  }
}
@media (min-width: 1220px) {
  .catalog-section__item {
    max-width: 570px;
    padding: 77px 52px 59px;
  }
}
.catalog-section__item--cat-slim::before, .catalog-section__item--cat-pro::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .catalog-section__item--cat-slim::before, .catalog-section__item--cat-pro::before {
    top: 92px;
    left: auto;
    right: 62px;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1220px) {
  .catalog-section__item--cat-slim::before, .catalog-section__item--cat-pro::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}
.catalog-section__item--cat-slim::after {
  position: absolute;
  content: "";
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../../img/cat-slim.svg");
}
@media (min-width: 768px) {
  .catalog-section__item--cat-slim::after {
    top: 81px;
    left: auto;
    right: 92px;
    width: 140px;
    height: 194px;
    background-size: contain;
  }
}
@media (min-width: 1220px) {
  .catalog-section__item--cat-slim::after {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
  }
}
.catalog-section__item--cat-pro::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-repeat: no-repeat;
  background-image: url("../../img/cat-pro.svg");
}
@media (min-width: 768px) {
  .catalog-section__item--cat-pro::after {
    top: 135px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 112px;
    background-size: contain;
  }
}
@media (min-width: 1220px) {
  .catalog-section__item--cat-pro::after {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
  }
}

.catalog-section__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 91px;
}
@media (min-width: 768px) {
  .catalog-section__title {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 24px;
  }
}
@media (min-width: 1220px) {
  .catalog-section__title {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.catalog-section__text {
  font-family: "Arial";
  color: #444444;
  margin: 0;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .catalog-section__text {
    font-size: 16px;
    line-height: 24px;
    min-width: 340px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1220px) {
  .catalog-section__text {
    min-width: 467px;
    margin-bottom: 27px;
  }
}

.catalog-section__link {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 49px;
}
.catalog-section__link::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-5px);
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  width: 32px;
  height: 10px;
}
@media (min-width: 768px) {
  .catalog-section__link {
    font-size: 20px;
    line-height: normal;
    padding-right: 57px;
  }
}
@media (min-width: 1220px) {
  .catalog-section__link {
    padding-right: 60px;
  }
}
.catalog-section__link:hover:after {
  background-image: url("../../img/arrow-hover.svg");
}
.catalog-section__link:active, .catalog-section__link:active:after {
  opacity: 0.3;
}

.process__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #444444;
  font-family: "Arial";
  width: auto;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 137px;
  }
}
@media (min-width: 1220px) {
  .process__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 95px;
  }
}

.process__item {
  width: auto;
}
@media (min-width: 768px) {
  .process__item {
    max-width: 250px;
  }
}

.example {
  background-color: #EAEAEA;
}

@media (min-width: 1220px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 194px;
  }
}

.example__heading {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__text {
  font-family: "Arial";
  color: #444444;
}

.example__item {
  text-align: center;
}

.example__title {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.example__description {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__expenses {
  line-height: 20px;
  text-transform: uppercase;
}

.switcher__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__heading {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial";
  color: #444444;
  line-height: 20px;
}

.page-footer {
  background-color: #F2F2F2;
  color: #444444;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  align-self: center;
}

.page-footer__social {
  align-self: center;
  display: flex;
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.developer__link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-family: "Arial";
  font-size: 16px;
  line-height: normal;
}

.catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 68px 60px;
  }
}
@media (min-width: 1220px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 62px 80px;
  }
}

.catalog__item {
  min-width: 280px;
}
@media (min-width: 768px) {
  .catalog__item {
    width: 324px;
  }
}
@media (min-width: 1220px) {
  .catalog__item {
    width: 245px;
  }
}

.product-card {
  min-width: 280px;
}
@media (min-width: 768px) {
  .product-card {
    min-width: 324px;
    background-color: #F2F2F2;
  }
}
@media (min-width: 1220px) {
  .product-card {
    min-width: 245px;
  }
}

.product-card__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.product-card__heading {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__list {
  margin: 0;
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}

.showe-more {
  min-width: 280px;
  text-align: center;
}
@media (min-width: 768px) {
  .showe-more {
    width: 324px;
  }
}
@media (min-width: 1220px) {
  .showe-more {
    width: 245px;
  }
}

.showe-more__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.showe-more__title {
  font-style: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.showe-more__text {
  color: #444444;
  font-family: "Arial";
  font-style: 12px;
  line-height: 16px;
}

.showe-more__button {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: #F2F2F2;
  color: #444444;
  font-style: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 1220px) {
  .additional-product__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.additional-product__heading {
  font-style: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additional-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 320px;
}
@media (min-width: 768px) {
  .additional-product__list {
    min-width: 708px;
  }
}
@media (min-width: 1220px) {
  .additional-product__list {
    grid-column: 1/4;
  }
}

.additional-card__title {
  color: #222;
  font-style: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-card__list {
  color: #444444;
  font-family: "Arial";
  line-height: 1;
}

.offer {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../img/offer-img.png");
  color: #FFFFFF;
}

.programm-selection__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.programm-selection__subtitle {
  text-transform: uppercase;
}

.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
  }
}
@media (min-width: 1220px) {
  .form {
    column-gap: 81px;
  }
}

.form__fieldset {
  grid-column: 1/-1;
}

.form__legend {
  font-family: "Arial";
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.field {
  color: #444444;
}

.control--radio {
  color: #222;
}

@media (min-width: 1220px) {
  .field-group--cat-data {
    grid-column: 1/2;
  }
}
@media (min-width: 1220px) {
  .field-group--target {
    grid-column: 2/-1;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .field-group__list--additional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
  }
}
@media (min-width: 1220px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 105px;
  }
}

.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */