@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswaldmedium.woff2") format(woff2), url("../../fonts/oswaldregular.woff") format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswaldmedium.woff2") format(woff2), url("../../fonts/oswaldmedium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1220px) {
  .container {
    min-width: 1440px;
    padding: 0 110px;
  }
}

.page {
  min-width: 320px;
  height: 100%;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

@media (min-width: 768px) {
  .page-header__nav {
    min-width: 768px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1220px) {
  .page-header__nav {
    min-width: 1440px;
    padding: 0 110px;
  }
}

@media (max-width: 768px) {
  .page-header__bar {
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    min-width: 440px;
  }
}
@media (min-width: 1220px) {
  .main-nav {
    min-width: 478px;
  }
}

.main-nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.promo {
  color: #FFFFFF;
  background-color: #68B738;
  background-image: url("../../img/promo-bg.png");
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    background-color: #FFFFFF;
    background-image: none;
  }
}
@media (min-width: 1220px) {
  .promo {
    background-image: url("../../img/promo-bg.png");
  }
}

.promo__wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .promo__wrapper {
    text-align: left;
    padding-left: 88px;
  }
}
@media (min-width: 1220px) {
  .promo__wrapper {
    padding-left: 80px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.promo__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__button {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .promo__button {
    width: 244px;
  }
}

.button {
  display: block;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: #68B738;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 1220px) {
  .catalog-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-section__item {
  background-color: #F2F2F2;
  width: auto;
}
@media (min-width: 768px) {
  .catalog-section__item {
    width: auto;
  }
}
@media (min-width: 1220px) {
  .catalog-section__item {
    min-width: 570px;
  }
}

.catalog-section__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog-section__text {
  font-family: "Arial";
  color: #444444;
}

.catalog-section__link {
  display: block;
  color: inherit;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.process__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #444444;
  font-family: "Arial";
  width: auto;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 137px;
  }
}
@media (min-width: 1220px) {
  .process__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 95px;
  }
}

.process__item {
  width: auto;
}
@media (min-width: 768px) {
  .process__item {
    min-width: 250px;
  }
}

.example {
  background-color: #EAEAEA;
}

@media (min-width: 1220px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 194px;
  }
}

.example__heading {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__text {
  font-family: "Arial";
  color: #444444;
}

.example__item {
  text-align: center;
}

.example__title {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.example__description {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__expenses {
  line-height: 20px;
  text-transform: uppercase;
}

.switcher__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__heading {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial";
  color: #444444;
  line-height: 20px;
}

.page-footer {
  background-color: #F2F2F2;
  color: #444444;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  align-self: center;
}

.page-footer__social {
  align-self: center;
  display: flex;
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.developer__link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-family: "Arial";
  font-size: 16px;
  line-height: normal;
}

.catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 68px 60px;
  }
}
@media (min-width: 1220px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 62px 80px;
  }
}

.product-card {
  min-width: 280px;
}
@media (min-width: 768px) {
  .product-card {
    min-width: 324px;
    background-color: #F2F2F2;
  }
}
@media (min-width: 1220px) {
  .product-card {
    min-width: 245px;
  }
}

.product-card__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.product-card__heading {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__list {
  margin: 0;
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}

.showe-more__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.showe-more__title {
  font-style: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.showe-more__text {
  color: #444444;
  font-family: "Arial";
  font-style: 12px;
  line-height: 16px;
}

.showe-more__button {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: #F2F2F2;
  color: #444444;
  font-style: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 1220px) {
  .additional-product__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.additional-product__heading {
  font-style: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additional-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 320px;
}
@media (min-width: 768px) {
  .additional-product__list {
    min-width: 708px;
  }
}
@media (min-width: 1220px) {
  .additional-product__list {
    grid-column: 1/4;
  }
}

.additional-card__title {
  color: #222;
  font-style: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-card__list {
  color: #444444;
  font-family: "Arial";
  line-height: 1;
}

.offer {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../img/offer-img.png");
  color: #FFFFFF;
}

.programm-selection__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.programm-selection__subtitle {
  text-transform: uppercase;
}

.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
}

.form__legend {
  font-family: "Arial";
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.field {
  color: #444444;
}

.control--radio {
  color: #222;
}
/*# sourceMappingURL=style.css.map */