$basic-green: #68B738;
$basic-grey: #F2F2F2;
$basic-white: #FFFFFF;
$basic-black: #000000;

$special-green: rgba(104, 183, 56, 0.85);
$special-dark-grey: #444444;
$special-dark-grey-2: #222;
$special-grey: #CDCDCD;
$special-grey-2: #666666;
$special-black: #111111;

$example-bg: #EAEAEA;

$mobile-width: 320px;
$tablet-width: 768px;
$desctop-width: 1220px;
