$basic-green: #68b738;
$basic-grey: #f2f2f2;
$basic-white: #ffffff;
$basic-black: #000000;

$special-green: rgb($basic-green, 0.85);
$special-dark-grey: #444444;
$special-dark-grey-2: #222;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$special-grey-3: #d9d9d9;
$special-grey-4: #ebebeb;

$special-black: #111111;

$example-bg: #eaeaea;

$tablet-width: 768px;
$desctop-width: 1300px;
$mobile-only: 767px;
